@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Yusei+Magic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Reggae+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Protest+Strike&family=Reggae+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  .awareTitle {
    padding-left: 0;
    padding-top: 20px;
    font-family: "Reggae One", sans-serif;
    font-weight: bold;
    font-size:2rem;
    color: black;
    text-align: center;
  }
  .awareSectionTitle {
    color: darkred;
  }
}

.aWareSeparatorColor {
  border-bottom-color:rgba(123, 123, 123, 0.739);
}

.awareSeparatorStyle {
  border-bottom-style: groove;
}

.header {
  font-family: "Reggae One", sans-serif;
  position:sticky;
  top:0;
  z-index:1005;
  width: 100vw;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  
  img {
    width: 150px;
    filter: invert(100);
  }
  nav {
    width: 75%;
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      li {
        margin-right: 20px;
        a{
          text-decoration: none;
          color:white;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width:768px){
  .header{
    flex-direction: column;
    height: initial;
    align-items: center;
    padding-left: 10px;
    row-gap:20px;
    
    nav {
      ul {
        flex-wrap: wrap;
      }
    }
   }
 }

.awareMainPresentation{
  background: #ff0000;
  background: radial-gradient(ellipse farthest-side at center center, #ff0000 0%, #ffffff 80%);
  background: -webkit-radial-gradient(ellipse farthest-side at center center, #ff0000 0%, #ffffff 80%);
  background: -moz-radial-gradient(ellipse farthest-side at center center, #ff0000 0%, #ffffff 80%);
  margin-bottom: 30px;




  .awareSubtitle{
    font-family: "M PLUS 1p", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}


.awareMain{
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    font-family: "Reggae One", sans-serif;
    font-size: 1.5rem;
    color: darkred;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .awareGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .awareParagraphContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: "M PLUS 1p", sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2;
  }

  .awareGalleryItem{
    img {
      width: 400px;
      border-top-left-radius: 4%;
      border-top-right-radius: 4%;
    }
    border-color: darkred;
    border-style: groove;
    border-width: 5px;
    border-radius: 5%;
  }

  .awareStyle {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: bold;
    text-align: justify;
    line-height: 2;
    width: 90vw;
    margin-bottom: 10px;
  }
}

.footer {
  font-family: "M PLUS 1p", sans-serif;;
  width: 100vw;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  background-color: rgb(59, 57, 57);

  img {
    width: 150px;
    filter: invert(100);
  }

  ul{
    list-style: none;

    a{
      text-decoration: none;
      color: white;
      font-size: 1,.5rem;
    }

    .fa-instagram, .fa-facebook, .fa-twitter{
      font-size: 2rem; 
      margin-top: 8px;
    }
  }
  
  .fa-whatsapp{
    font-size: 3rem;
    color:rgb(44, 181, 44);
    position:fixed;
    bottom: 20px;
    right: 20px;
  }

  .address {
    font-size: 1rem;
    color: lightgray;
  }
}

@media screen and (max-width:768px){
  .footer{
    flex-direction: column;
    height: initial;
    align-items: start;
    padding-left: 10px;
    row-gap:20px;
   }
 }








