@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Yusei+Magic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Reggae+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Protest+Strike&family=Reggae+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: "Reggae One", sans-serif;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  
  img {
    width: 150px;
    filter: invert(100);
  }
  nav {
    width: 75%;
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      li {
        /*display: inline-block; no hace falta si uso flexbox*/
        margin-right: 20px;
        a{
          text-decoration: none;
          color:white;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.awareMainPresentation{
  background-image:url("../assets/img/backgroundcerezo.jpg");
  margin-bottom: 30px;


  h1 {
    .awareTitle {
      padding-left: 0;
      padding-top: 20px;
      font-family: "Reggae One", sans-serif;
      font-weight: bold;
      font-size:2rem;
      color:darkred;
      text-align: center;
    }
  }

  .awareSubtitle{
    font-family: "M PLUS 1p", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 20px;
  }
}


.awareMain{
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    font-family: "Reggae One", sans-serif;
    font-size: 1.5rem;
    color: darkred;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .awareGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;

    /*gradient*/
    background: #ff0000;
    background: radial-gradient(ellipse farthest-side at center center, #ff0000 0%, #ffffff 80%);
    background: -webkit-radial-gradient(ellipse farthest-side at center center, #ff0000 0%, #ffffff 80%);
    background: -moz-radial-gradient(ellipse farthest-side at center center, #ff0000 0%, #ffffff 80%);
  }

  .awareGalleryItem{
    img {
      width: 400px
    }
  }

  .awareStyle {
    font-family: "M PLUS 1p", sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2;
    width: 80vw;
    margin: 0, auto;
  }
}





